<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Devour Da Burger!</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/skeleton.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>